@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: #0d1117;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.classes-list {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  color: #ffffff;
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; 
}

.class-card, .subject-card, .chapter-card, .topic-card, .video-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.class-item-heading{
  color: #0a0a0a;
  font-weight: 800;
}

/* styles/globals.css */





/* Styling the Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 0px 0;
  font-size: 1.1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

table thead {
  background-color: #2980b9;
  color: white;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
}

table th {
  font-weight: bold;
}

table tbody tr {
  background-color: #b39c9c;
}

table tbody tr:nth-of-type(even) {
  background-color: #b39c9c;
}

table tbody tr:hover {
  background-color: #4099de;
  cursor: pointer;
}

table td {
  border-bottom: 1px solid #ddd;
}

/* Styling the Header and Footer */
.header, .footer {
  background-color: #34495e;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.header h1, .footer h2 {
  margin: 0;
  font-size: 1.8em;
}

.class-item {
  margin-bottom: 40px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.trail-button{
  background: #4099de;
  color: #fff;
}

.heading-text {
  font-size: 40px;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
